<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a name="contact"></a>
  <div class="contianer">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <p class="text-center"><b>Contact Information</b></p>
        <p class="text-center">I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        <ul>
          <li>we care about environment</li>
          <li>we are trusted by hundreds of clients</li>
          <li>social media loves us</li>
          <li>this list is super easy to create</li>
        </ul>
      </div>

      <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13641.974576662602!2d29.985615150000005!3d31.262437900000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5dbead4760d5b%3A0x2b85553c0588c1c6!2z2K7Yp9mE2K8g2KjZhiDYp9mE2YjZhNmK2K8!5e0!3m2!1sar!2seg!4v1648039176792!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
    </div>
</body>
</html>
