<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a name="info"></a>
    <div class="contianer">
      <div class="row">
        <div class="col">
          <p><b>About us</b></p>
          <p>
            I am text block. Click edit button to change this text. Lorem ipsum
            dolor sit amet, consectetur. I am text block. Click edit button to
            change this text. Lorem ipsum dolor sit amet, consectetur.
          </p>
          <p>
            We are the champions! We are the most amazing theme of all time,
            yeah.
          </p>
        </div>
        <div class="col">
          <p><b>Why We Are Special? </b></p>
          <ul class="fa-ul">
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >our magical recipe
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >We care about environment.
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >We are trusted by hundreds of clients.
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >Social media loves us!
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >This list is super easy to create.
            </li>
            <hr>
          </ul>
        </div>
        <div class="col">
          <p><b>openning hours</b></p>
          <ul class="fa-ul">
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >Monday 10AM - 9PM
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >Tuesday 10AM - 9PM .
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >Wednesday 10AM - 9PM .
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >Thursday 10AM - 10PM
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >Friday 10AM - 10PM .
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-caret-right text-start"></i></span
              >Weekends 10AM - 11PM
            </li>
            <hr>
          </ul>
        </div>
        <div class="col">
          <p><b>contact details</b></p>
          <ul class="fa-ul">
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-compass"></i></span
              >Manchester Road 123-78B, Silictown 7854MD, Great Country
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-phone"></i></span
              >+46 123 456 789
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-envelope"></i></span
              >
              Friday 10AM - 10PM Weekends 10AM - 11PM Contact Details Manchester Road 123-78B, Silictown 7854MD, Great Country +46 123 456 789 hello@sitename.com
            </li>
            <hr>
            <li>
              <span class="fa-li"
                ><i class="fa fa-solid fa-globe"></i></span
              >http://www.sitename.com</li>
              <hr>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
