<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a name="loction"></a>
  <div class="contianer">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col m-5">
        <p>Our Location</p>
        <p>We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.

          Story on projects big and small from small residential extensions to full house. We are so happy with this theme. Everyday it make our lives better.</p>
      </div>
      <div class="col m-5"><img src="/assets/asset4.jpeg" alt=""></div>
    </div>
    </div>
</body>
</html>
