<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body background="/assets/asset2.ed25c7587f099684d6ff.jpeg">
  <a name="home" href=""></a>
  <nav class="position-fixed navbar navbar-expand-lg navbar-light bg-light bg-transparent">
    <div class="container-fluid ">
      <a class="navbar-brand logo" href="#home"><img src="/assets/asset1.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="position-fixed end-0 navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#baking">our offer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#info">gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#location">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="d-flex flex-column justify-content-center align-items-center">

  <p class="welcome"><b>welcome to </b></p>
  <p class="marg header"><b>Family Bakery</b></p>
  <p class="marg desc"><b>We're the biggest, best equipped and most advanced Bakery in the greater Los Angeles area.</b></p>
  <div class="marg">
    <button class="bg-warning nobrd m-3 p-2">learn more</button>
    <button class="bg-transparent m-2 p-2">contact us</button>
  </div>
</div>

</body>

</html>
